<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <input type="radio" id="animal" value="animal" v-model="loveType">
        <label for="animal">Animal</label>
        <input type="radio" id="fruit" value="fruit" v-model="loveType">
        <label for="fruit">Fruit</label><br>

        <template v-if=" isLoveTypeAnimal">
            <div>
                <input type="checkbox" id="dog" value="dog" v-model="loveList">
                <label for="dog">Dog</label>
                <input type="checkbox" id="cat" value="cat" v-model="loveList">
                <label for="cat">Cat</label>
                <input type="checkbox" id="fish" value="fish" v-model="loveList">
                <label for="fish">Fish</label><br>
            </div>
        </template >
        
        
        <template v-else-if="isLoveTypeFruit">
            <div>
                <input type="checkbox" id="banana" value="banana" v-model="loveList">
                <label for="banana">Banana</label>
                <input type="checkbox" id="orange" value="orange" v-model="loveList">
                <label for="orange">Orange</label>
                <input type="checkbox" id="coconut" value="coconut" v-model="loveList">
                <label for="coconut">Coconut</label><br>
            </div>
        </template>

        <template v-else>
            <div>
                Please select One !!
            </div>
        </template>



        <span>Love Type: {{ loveType }}</span><br>
        <span>Love List: <span v-if="loveList.length==0">Noting!!</span> </span>
        <ul>
            <li v-for="love in loveList">
                {{love}}
            </li>
        </ul>
        <span>Love List Length: {{ getLoveListLength }}</span>


    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                loveType: '',
                loveList: [],
            },
            computed: {
                getLoveListLength: function() {
                    return this.loveList.length;
                },
                isLoveTypeAnimal: function() {
                    return this.loveType == 'animal';
                },
                isLoveTypeFruit: function() {
                    return this.loveType == 'fruit';
                }
            },
            watch: {
                loveType: function(newValue, oldValue) {
                    this.loveList = [];
                }
            },
        });
    </script>

</body>

</html>